.RightC{
   
    background-image: url("https://img.freepik.com/free-vector/realistic-luxury-background_23-2148985076.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1719792000&semt=ais_user");
    background-size: cover;
    background-repeat: no-repeat;
}

