.MiddleC{
    position: relative;
    top:4rem;
    width: calc(100%-40px);
    max-width: none;
    background-color: rgb(232, 250, 250);
    margin: 20px;
    margin-top: 0px;
    border: 1px solid greenyellow;
   
}
.noteslistC{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
}